[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
requests-html = "*"
twilio = "*"
pandas = "*"
yahoo-fin = "*"
flask = "*"
pandas-datareader = "*"
beautifulsoup4 = "*"
nltk = "*"
datetime = "*"

[requires]
python_version = "3.8"
